body{
  background-color:#4D5058 !important;
}

label{
  color:white;
}
input{
  width:368px;
}

fieldset{
      background-color: #0893F0;
      border:none;
}
.row.no-gutter {
  /*margin-left: 0;
  margin-right: 0;*/
}

/*Remove gutters between boostrap columns*/
.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
  padding-right: 0;
  padding-left: 0;
}
.top-buffer { margin-top:20px; }
#tAllDay{
  margin-bottom:10px;
  width: 0px;
}

.tasksInfo{
  text-align: center;
  font-size: 20px;
  color:white;;
}

.borderCalendar{
  border-color: #FB7D79;
  border-style: solid;
  border-width: 5px;
  background-color: white;
}
#spacerForTasks{
  line-height:80px;
}
#noCreatedTasks{
  margin: 30px;
}

.changeFontColor{
  color:white !important;
}
.taskSpacer{
  padding-top: 10%;
}
.topSpacing{
  margin-top: 10px;
}
.dateYesterday{
  background-color: #5F95FF;
  color:white;
}
.dateToday{
  background-color: #FB7D79;
  color:white;
}
.dateTomorrow{
  background-color: #5F95FF;
  color:white;
}
.tasksStyling{
  background-color: #F2F2F2;
}

.openSpaceTasks{
  padding-bottom: 25%;
}
.numberTodayDay{
  font-size: 50px;
}
body{
  font-family:sans-serif;
}

input[type=text],input[type=date],input[type=time], textarea  {
  border-radius: 6px;
  resize: none;
  -webkit-appearance: none;
  font-size: 13px;
      margin-bottom: 10px;
}
.styleDay{
  font-size:30px;
}
.required{
	color:red;
}
#tCreator{
  display: none;
  padding-top: 10px;
}

.newTask{
  padding:10px;
  background-color: #283B51;
  border-radius: 10px;
  padding: 7px 25px 10px 25px;
  color:white;
  font-size: 15px;
  font-weight: 500;
  border:none;
}
input[type=submit]{
  padding:10px;
  background-color: #04D15F;
  border-radius: 10px;
  border-width: 0px;
  border: none;
  padding: 7px 25px 10px 25px;
  color:white;
  font-size: 15px;
  font-weight: 500;
  box-shadow: 0px 2px 3px  #8a8f91
              ,0 2px 2px #8a8f91;
  transition: all 0.1s ease;
  margin-right: 10px;
  width:200px;
}

#noCreatedTasks{
  display:block;
}

input[type=submit]:active, input[type=reset]:active, .newTask:active
{
	box-shadow: 0 1px 0 #666;
    transition: all 0.1s ease-out;
	-webkit-transform: translateY(2px);
	transform: translateY(2px);
}
